* {
    margin: 0;
    padding: 0;
}

/* header section */
header {
    
    position: absolute;
    width: 1483px;
    height: 91px;
    left: calc(50% - 1483px/2);
    top: 0px;
}

/* navigation bar  */
nav {
    display: flex;
    align-items: center;
}

#logo {
    position: absolute;
    width: 118.13px;
    height: 86.4px;
    top: 8px;
    left: 89px;

}


#navbar {
    display: flex;
    /* position: absolute; */
    margin-left: calc(50% - 815px/2 + 595px);
    width: 815px;
    height: 58px;
    list-style: none;
}

#navbar li a {
    display: flex;
    text-decoration: none;
    font-family: 'Montserrat';
    color: rgb(73, 73, 73);
    margin: 1.3em;
    font-weight: bold;
    width: 76px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    ;
}

/* Introdution section */

#container1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 112px 0px;
    gap: 80px;
    position: absolute;
    width: 1044px;
    height: 625px;
    left: calc(50% - 1044px/2 - 125px);
    top: 62px;
    

}

 h5 {
    width: 576px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.1px;

    color: #FC724D;
}

 h1 {
    width: 747px;
    height: 160px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #252B42;

}
 h4{
    width: 576px;
height: 60px;
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: 0.2px;
color: #737373;
font-family: 'Montserrat', sans-serif;
}

#container1 button{
    display: flex;
flex-direction: column;
align-items: center;
padding: 15px 40px;
gap: 10px;

width: 187px;
height: 52px;
border: #FC724D;
background: #FC724D;
border-radius: 5px;
}

#container1 button h5{
    width: 167px;
height: 22px;

/* btn-text */
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 22px;

text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;

}

/* Services section */
.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    top: 62px; 
    height: 625px;
    width: 1300px;
}


#container2 {
    padding: 910px 252px;
    
}
#container2 h1{
    height:70px;
}
.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:60px;
}
.box{
    border:2px solid rgb(224, 223, 223);
    display:flex;
    flex-direction: column;
    width:246px;
    height:335px;
    margin:50px 0px;
    padding: 15px;
    gap:25px;
    
    /* box shadow */
box-shadow: 12px 12px 5px rgb(199, 196, 196);

}

.box img{
    width:120px;
    height:120px;
}
.box h2{
    height:80px;
}

.box h5{
    color:black;
    width:160px;
}
.box h4{
    width:250px;
    font-size:18px;
}
.box hr{
    border-bottom: 4px solid #e76744;
    display: block;
    width:83px;
}

/* Testimonial section */
h3{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #737373;
    font-family: 'Montserrat', sans-serif;   
}

.testimonial h6{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: black;
    font-family: 'Montserrat', sans-serif;  
}

.testimonial{
    display: flex;
    gap:70px;
    justify-content:space-around;
    
}
.review{
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    box-shadow: 1px 1px 4px rgb(253, 211, 218);
    align-items: center;
    gap:10px;
    height:400px;
    width:400px;
    padding: 15px;
    margin:70px 100px;
}
 .testimonial img{
    border-radius: 50%;
    height:150px;
    width:150px;
 }

 .testimonial h4{
    width:403px;
    height:135px;
    text-align: center;
    
 }

 .star{
    display: flex;
    flex-direction: row;

 }
 .rating {
    font-size: 23px; 
}

.clicked {
    color: yellow;
}






